@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --base-color: #182c1d;
    --main-color: rgb(53, 238, 53);
    --text-color: rgb(172, 240, 195);
}
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--base-color);
    font-family: Poppins,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
}

/* -----------Navbar-----------*/
.navbar{
    width: 100%;
    min-height: 5rem;
    font-weight: 700;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #182c1d;
}
.stiky-nav{
    background-color: #71eb9079;
    z-index: 10000;
    position: sticky;
    top: ;
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar ul li{
    list-style-type: none;
    padding-right: 80px;
}
.navbar a{
    text-decoration: none;
    color: wheat;
    position: relative;
    padding-bottom: 5px;
}
.navbar .logo{
    padding-left: 80px;
    font-weight: 700;
    font-size: xx-large;
}
.home-page .navbar ul a::before{
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    border-radius: 50px;
    background: var(--base-color);
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}
.home-page .navbar ul a:hover::before{
    width: 100%;
}
.home-page .navbar ul a:hover{
    color: rgb(53, 238, 53);
}
/* -------------Main Content------------- */
.home-page{
    width: 100%;
    height: 100vh;
    position: relative;
}
.main-content{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(45deg,rgba(0,0,0,0.4),rgba(0,0,0,.7)), url(/images/home2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    background-color: rgb(0, 0, 0);
    margin-top: -5rem;
}
.main-content .content{
    position: absolute ;
    top: 25%;
    left: 80px;
    width: 550px;
    max-width: 80%;
    font-weight: 500;
    line-height: 2.3em;

}
.main-content .content span{
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 5px;
    line-height: 1em;
    text-shadow: 12px 15px 20px black ;
    text-transform:uppercase;
}
#name{
    font-size: 4em;
    background-image: linear-gradient(90deg,rgb(10, 255, 43),rgb(60, 236, 37));
    background-clip: text;
    color: transparent;
}
.main-content .content p{
    padding-top: 25px;
    font-size: 1.3em;
}
.btn{

    align-items: center;
    padding-top: 50px;
}
.main-content .content .btn a{
    border-radius: 5px;
    background-color: var(--main-color);
    padding: 10px 30px;
    text-decoration: none;
    color: black;

}
.main-content .content .btn a:nth-child(2){
    background-color: transparent;
    color: var(--text-color);
    border: 2px solid var(--main-color);
    margin-left: 20px;
    transition: 0.5s;
}
.main-content .content .btn a:nth-child(2):hover{
    color: var(--main-color);
}
/* ----------Product-------------- */
.item-head{
    font-size: 50px;
    color: wheat;
    text-align: center;
    font-weight: 500;
    padding: 50px;
}
.items{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.item{
    padding: 50px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    background: rgb(252, 255, 254);
    box-shadow: 10px 0px 30px rgba(46, 40, 40, 0.767);

}
.item img{
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
}

/* ---------- About --------- */
#about{
    height: 100%;
    padding: 78px 35px;
}
#about img{
    height: auto;
    width: 520px;
    border: 10px solid white;
    border-radius: 15px;
    box-shadow: -10px 10px 60px rgba(0, 0, 0, .3);
}
#about .container{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
#about .container .phara{
    width: 500px;
}
#about .container .phara h1{
    font-size: 80px;
    color: whitesmoke;
}
#about .container .phara p{
    font-size: 25px;
    color: wheat;
    font-weight: 500;
}
#about .container .phara p span{
    color: var(--main-color);
}
#products{
    position: relative;
}
.product-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin: 35px 0px 10px 45% ;
  }

.autoshow{
    animation: autoShowAnimation both;
    animation-timeline: view(80% 5%);
}
@keyframes autoShowAnimation{
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.3s);
    }to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    
}




.contact-form {
    width: 100%;
    margin: 0 auto;
    padding: 3px 3px 35px 3px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: var(--base-color);
    position: relative;
}

.contact-form h2 {
    text-align: center;
    font-size: 60px;
    margin-bottom: 20px;
    height: 150px;
    text-align: center;
    padding-top: 35px;
    background-color: #4caf50;
    display: block;
}

.form-group {
    margin-bottom: 20px;
    width: 50%;
    padding-left: 25%;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: var(--main-color);
}

.form-group textarea {
    resize: vertical;
}

.contact-form button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.contact-form button:hover {
    background-color: #3e8e41;
}